# Configuración de Notificaciones WhatsApp (CallMeBot)
# 1. Agregá el número +34 644 20 47 56 a tus contactos.
# 2. Enviá el mensaje "I allow callmebot to send me messages" por WhatsApp.
# 3. Esperá la respuesta con tu API KEY.
# 4. Completá los datos abajo:

WHATSAPP_NUMBER=5492914394736
WHATSAPP_API_KEY=8186442
